
<main class="main-container">
  <div class="main-title  ">
    <p class="font-weight-bold text-center">Orders</p>
  </div>
<div>
  <form action="/admin/sales" id="salesFilterForm">
    <label for="">From Date</label>
    <input type="date" id="from_date" name="from_date" required>
    <label for="" >To date</label>
    <input type="date" id="to_date" name="to_date" required>
    <input type="submit" value="Sales Report" class="btn btn-warning ml-2 mb-1">
  </form>
 
</div>
<div class="container" id="content">
   
        <table id="order-table" class="table table-striped table-bordered"  style="border: 1px solid black; margin-top: 15px;">
            <thead class="bg-secondary">
              <tr>
                <th scope="col text-light" style="color:white ;">OrderId</th>
                <th scope="col" style="color:white ;">Order Date</t>
                <th scope="col" style="color:white ;">Costumer Address</th>
                <th scope="col" style="color:white ;">Order status</th>
                <th scope="col" style="color:white ;">Payment Method</th>
                <th scope="col"style="color:white ;">Expected Delivery</th>
                <th scope="col"style="color:white ;">Amount</th>
              </tr>
            </thead>
            <tbody id="orderTable">
                <% for(var i=0;i<orderList.length;i++) { %>
              <tr>
                                                                                                                                 
              <td  style="border-color: black;"> <a href="/admin/orderId?id=<%= orderList[i]._id %>"> <%= orderList[i]._id %></td></a>
                <td  style="border-color: black;" ><%= orderList[i].deliveryDetails.date %></td>
                <td  style="border-color: black;"><%= orderList[i].deliveryDetails.address %></td>
                <td  style="border-color: black;"><%= orderList[i].status %></td>
                <td  style="border-color: black;"><%= orderList[i].deliveryDetails.paymentMethod %></td>
                <td  style="border-color: black;"> <%= orderList[i].deliveryDetails.expected_Date %></td>
                <td  style="border-color: black;"><%= orderList[i].deliveryDetails.TotalAmount[0].total %></td>
              </tr>
              
              <% } %>
            
            </tbody>
          </table>
    
</div>
<div id="editor"></div>




<script>
  
  $(document).ready( function () {
    $('#order-table').DataTable();
  } );


</script>




    
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>