






 



   <!-- Main -->
   <main class="main-container">
    <div class="main-title">
      <p class="font-weight-bold">DASHBOARD</p>
    </div>
  
  
  
  
   
    <div class="table-responsive">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end m-5">
        <a href="/admin/addProductPage" class="btn btn-success">Add Product</a>
        </div>
        <table class="table table-bordered" style="border: 1px solid black; margin-top: 15px;">
          <thead class="bg-secondary">
            <tr>
              <th>S.NO</th>
              <th>Brand</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Product Image</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead >
          <tbody >
              <% for(var i=0;i<products.length;i++) { %>
            <tr>
              <td> <%= i+1 %> </td>
              <td> <%= products[i].brandName %> </td>
              <td> <%= products[i].productName %> </td>
              <td> <%= products[i].Price %> </td>
              <td> <%= products[i].Quantity %></td>
              <td> <img src="/images/<%= products[i].Pitcure %>" style="width:75px ; height:50px;" alt=""></td>
             <td> <a href="/admin/showEditProductPage?id=<%= products[i]._id %>" class="btn btn-success">Edit</a>  </td>
             <td> <a href="/admin/deleteProduct?id=<%= products[i]._id %>" class="btn btn-danger">Delete</a>  </td>
             </tr>
            <% } %>
          
          </tbody>
        </table>
      </div>


    