
<main class="main-container">
  <div class="main-title  ">
    <p class="font-weight-bold text-center">Orders</p>
  </div>

<div class="container">
   
        <table class="table table-bordered" style="border: 1px solid black; margin-top: 15px;">
            <thead class="bg-secondary">
              <tr>
                <th scope="col text-light" style="color:white ;">OrderId</th>
                <th scope="col" style="color:white ;">Order Date</th>
                <th scope="col" style="color:white ;">Costumer Name</th>
                <th scope="col" style="color:white ;">Order status</th>
                <th scope="col" style="color:white ;">Payment Method</th>
                <th scope="col"style="color:white ;">Expected Delivery</th>
                <th scope="col"style="color:white ;">Amount</th>
              </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<orderList.length;i++) { %>
              <tr>
               
              <td> <a href="/admin/orderId?id=<%= orderList[i]._id %>"> <%= orderList[i]._id %></td></a>
                <td><%= orderList[i].deliveryDetails.date %></td>
                <td><%= orderList[i].deliveryDetails.name %></td>
                <td><%= orderList[i].deliveryDetails.status %></td>
                <td><%= orderList[i].deliveryDetails.paymentMethod %></td>
                <td><%= orderList[i].deliveryDetails.expected_Date %></td>
                <td><%= orderList[i].deliveryDetails.TotalAmount[0].total %></td>
              </tr>
              
              <% } %>
            
            </tbody>
          </table>
    
</div>