 <!-- Main -->
 <main class="main-container">
  <div class="main-title">
    <p class="font-weight-bold">DASHBOARD</p>
  </div>

  <div class="main-cards">

   <div class="card border-light" >
      <div class="card-inner">
        <p class="text-primary">Category</p>
        <span class="material-icons-outlined text-blue">inventory_2</span>
      </div>
      <span class="text-primary font-weight-bold"><%= categoryCount %></span>
    </div>

    <div class="card border-light">
      <div class="card-inner">
        <p class="text-primary">Products</p>
        <span class="material-icons-outlined text-orange">add_shopping_cart</span>
      </div>
      <span class="text-primary font-weight-bold"><%= productCount %></span>
    </div>

    <div class="card border-light ">
      <div class="card-inner">
        <p class="text-primary">Orders</p>
        <span class="material-icons-outlined text-green">shopping_cart</span>
      </div>
      <span class="text-primary font-weight-bold"><%= orderCount %></span>
    </div>

    <div class="card border-light">
      <div class="card-inner">
        <p class="text-primary">Users</p>
        <span class="material-icons-outlined text-red">notification_important</span>
      </div>
      <span class="text-primary font-weight-bold"><%= userCount %></span>
    </div>
   
  
     

  </div>
  <section>
    <div style="width:35rem; height:35rem"> 
  
      <canvas id="myChart">
        
      </canvas>
    </div>
  
  </section>
 
</main>

<!-- End Main -->

</div>


<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Delivered', 'Shipped', 'Users', 'Placed', 'Orders', 'Cancelled'],
      datasets: [{
        label: '# of Votes',
        data: ['<%= deliveredCount %>', '<%= shippedCount %>', 4,'<%= placedCount %>', '<%= orderCount %>', '<%=cancelCount %>'],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<!-- Scripts -->
<!-- ApexCharts -->
