
<body id="adminCategory">

  <div class="container-fluid position-relative d-flex p-0">
      <div class="content">
             <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
              <a href="/admin/admin-panel" class="navbar-brand d-flex d-lg-none me-4">
                  <h2 class="text-primary mb-0"><i class="fa fa-home"></i></h2>
              </a>
              <a href="#" class="sidebar-toggler flex-shrink-0 m-3" >
                  <i class="fa fa-bars"></i>
              </a>
          
          </nav>
           <form action="/admin/sales" id="salesFilterForm">
  <label for="">From Date</label>
  <input type="date" id="from_date" name="from_date" required>
  <label for="" >To date</label>
  <input type="date" id="to_date" name="to_date" required>
  <input type="submit" value="Sales Report" class="btn btn-warning ml-2 mb-1">
</form>
          <!-- Recent Sales Start -->
          <div class="container-fluid pt-4 px-4">
              <div class="bg-secondary text-center rounded p-4">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                      <h2 class="mb-0">Order Management</h2>
                     
                  </div>
                  <div class="table-responsive">
                      <table class="table text-start align-middle table-bordered table-hover mb-0" id="example">
                          <thead>
                              <tr class="text-white">
                                  <th scope="col">ORDER ID.</th>
                                  <th scope="col">Order Date</th>
                                  <th scope="col">Customer address</th>
                                  <th scope="col">Order status</th>
                                  <th scope="col">Payment method</th>
                                  <th scope="col">Expected Delivery</th>
                                  <th scope="col">Amount</th>
                              </tr>
                          </thead>
                     <tbody id="orderTable">
              <% for(var i=0;i<orderList.length;i++) { %>
            <tr>
                                                                                                                               
            <td> <a href="/admin/orderId?id=<%= orderList[i]._id %>"> <%= orderList[i]._id %></td></a>
              <td ><%= orderList[i].deliveryDetails.date %></td>
              <td><%= orderList[i].deliveryDetails.address %></td>
              <td><%= orderList[i].status %></td>
              <td><%= orderList[i].deliveryDetails.paymentMethod %></td>
              <td> <%= orderList[i].deliveryDetails.expected_Date %></td>
              <td><%= orderList[i].deliveryDetails.TotalAmount[0].total %></td>
            </tr>
            
            <% } %>
          
          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!-- Recent Sales End -->
      </div>
  </div>


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/admin/lib/chart/chart.min.js"></script>
  <script src="/admin/lib/easing/easing.min.js"></script>
  <script src="/admin/lib/waypoints/waypoints.min.js"></script>
  <script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
  <script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Template Javascript -->
  <script src="/admin/js/main.js"></script>
  <div id="editor"></div>




<script>

$(document).ready( function () {
  $('#order-table').DataTable();
} );


</script>




  
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

</body>