<body id="adminCategory">

  <div class="container-fluid position-relative d-flex p-0">
      <div class="content">
     <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0 ">
            <a href="/admin/admin-panel" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-home"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0 m-3">
                <i class="fa fa-bars"></i>
            </a>
        
        </nav>
          <!-- Recent Sales Start -->
          <div class="container-fluid pt-4 px-4">
              <div class="bg-secondary text-center rounded p-4">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                      <h2 class="mb-0">Coupon</h2>
                     <form action="/admin/addCoupen" method="POST">
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
    ADD COUPON
  </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-warning" id="exampleModalLabel">Add CoupOn</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="code">Coupon Name</label>
                                            <input type="text" name="coupenName" id="coupenName"><br><br>
                                    </div>
                                    <div class="modal-body">
                                        <label for="code">Coupon Code</label>
                                                 <input type="number" name="coupenCode" id="coupenCode"><br><br>
                                    </div>
                                    <div class="modal-body">
                                        <label for="percentage">Discount Percentage</label>
                                       <input type="number" name="discount" id="discount"><br><br>
                                    </div>
                                      <label for="startingDate" class="text-primary">Start Date</label>
            <input type="date" name="startDate" id="startDate"><br>
             <label for="endDate" class="text-primary">End Date</label>
            <input type="date" name="endDate" id="endDate"><br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-info">Add</button>
                                    </div>
        </div>
      </div>
    </div>
</div>
</form>
                  </div>
                  <div class="table-responsive">
                      <table class="table text-start align-middle table-bordered table-hover mb-0" id="example">
                          <thead>
                              <tr class="text-white">
                              <th scope="col" >SNo</th>
          <th scope="col" >Coupon Name</th>
          <th scope="col" >Coupon Code</th>
          <th scope="col" >Start Date</th>
          <th scope="col" >End Date</th>
          <th scope="col" >Discount</th>
          <th scope="col" >Delete Coupon</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% for (var i=0;i<coupen.length;i++) {%>
      <tr>
       
          <td >
            <%= i+1 %>
          </td>

          <td >
            <%= coupen[i].coupenName %>
          </td>
          </td>
          <td >
            <%= coupen[i].coupenCode %>
          </td>

          <td >
            <%= coupen[i].startDate %>
          </td>
          </td>
          <td >
            <%= coupen[i].endDate %>
          </td>

          <td >
            <%= coupen[i].discount %>
          </td>
          </td>
          <td ><button class="btn btn-danger" onclick="deleteCoupen('<%= coupen[i]._id %>')">DELETE</button></td>
          </td>

          
      </tr>
      <% } %>
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!-- Recent Sales End -->
      </div>
  </div>


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/admin/lib/chart/chart.min.js"></script>
  <script src="/admin/lib/easing/easing.min.js"></script>
  <script src="/admin/lib/waypoints/waypoints.min.js"></script>
  <script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
  <script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Template Javascript -->
  <script src="/admin/js/main.js"></script>
  
<script>
function deleteCoupen (coupenId){
swal({
title:'delete',
text:"DO YOU WANT TO DELETE THIS COUPEN",
icon:'warning',
buttons:['CANCEL','OK']
}).then(val=>{
if(val){
  fetch('/admin/deleteCoupen?id='+coupenId,
  {
    method:'delete'
  }).then({
    title:'SUCCESS',
    text:'COUPEN SUCCESSFULLY DELETED',
    icon:'success',
    button:'OK'
  }).then(val=>{
    location.reload()
  })
}
})
}



let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function () {
  sidebar.classList.toggle("active");
  if (sidebar.classList.contains("active")) {
    sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
  } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
};

var myModal = document.getElementById("myModal");
var myInput = document.getElementById("myInput");

myModal.addEventListener("shown.bs.modal", function () {
  myInput.focus();
});



</script> 

</body>