
<main class="main-container">
    <div class="main-title">
      <p class="font-weight-bold">Order Details</p>
    </div>

<div class="container">
    <div class="row align-items-start">
        <% for (var i = 0;i<orderProducts.length ; i++ ) { %>
      <div class="col bg-light border rounded pt-2">
        <h3>Delivery Address</h3>
        <div><%= orderProducts[i].deliveryDetails.address %></div>
        <div><%= orderProducts[i].deliveryDetails.pincode %></div>
        <div><%= orderProducts[i].deliveryDetails.mobile %></div>
      </div>
      <div class="col bg-light border rounded pt-2 " style="    padding-bottom: 48px;">
        <div><h3>Payment Method</h3>
        </div>
        <div><%= orderProducts[i].deliveryDetails.paymentMethod %></div>
      </div>
      <div class="col bg-light border rounded pt-2" style="    padding-bottom: 24px;">
        <div><h3>Expected Date</h3></div>
        <div><%= orderProducts[i].deliveryDetails.expected_Date %></div>
      </div>
      <div class="col bg-light border rounded pt-2 pb-5" style="    padding-bottom: 24px;">
        <div><h3>Total Amount</h3></div>
        <div><%= orderProducts[i].deliveryDetails.TotalAmount.total %></div>
      </div>
    </div>
   
    </div>
  </div>
  <% } %>





		

	
	</div>
</div>
