<body class="bg-light " style="    overflow-x: hidden ;">
  <main class="main-container">
  <div class="main-title">
    <p class="font-weight-bold">USERS</p>
  </div>


     
      
        <!--   -->


        <table id="user-Table" class="table table-bordered"  style="border: 1px solid black; margin-top: 75px ; margin-left: 75px;"  >

          <thead class="bg-secondary" >
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th style="    width: 294.681px;">Email</th>
              <th>Phone</th>
              <th>Actions</th>
              
            </tr>
          </thead>
          <tbody style="border-color: black;">
            <% for(var i=0;i<userDetails.length;i++) { %>
              <tr >
               <td style="border-color: black;"> <%= userDetails[i].Name %></td>
              <td style="border-color: black;"> <%= userDetails[i].Lname%></td>
               <td style="border-color: black;"><%= userDetails[i].Email%></td>
               <td style="border-color: black;"> <%= userDetails[i].Phone %></td>
                 
                

                <td>
                  <% if (userDetails[i].state=="active" ) { %>
                    <button onclick="userBlock('<%= userDetails[i]._id %>')" 
                     style="background:#5E4543 ;" class="btn btn-primary" >Block</button>  
                    <% } else{ %>
                      <button onclick="userUnBlock('<%= userDetails[i]._id %>')" style="background: #c5cf64;" class="btn btn-primary"
                        >Unblock</button>
                    <% } %>
                    
                    </td>
              

              </tr>
              <% } %>




          </tbody>
        </table>
    </div> 

 
        

    <script>
     function userBlock(userId){
      fetch('/admin/userManagement/block',{
        method:'POST',
        headers:{'content-type':'application/json'},
        body: JSON.stringify({userId})
      }).then(()=>{
        window.location.reload();
      }).catch((error)=>{
        console.error("error: ", error)
      })
     }


     function userUnBlock(userId)
{
  fetch('/admin/userManagement/unblock',{
    method : "POST",
    headers : {'content-type':'application/json'},
    body:JSON.stringify({userId})
  }).then(()=>{
    window.location.reload()
  }).catch((error)=>{
    console.error("error:",error)
  })
}    </script>


<script>
  $(document).ready( function () {
    $('#user-Table').DataTable();
  } );
  </script>
  
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
</body>
