</div>
	
<div class="privacy bg-light">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			<span>C</span>art
		</h3>
		<!-- //tittle heading -->
	





<!-- ----------------------------------------------------------Table for cart details------------------------------------------------------->




			<div class="table-responsive" >
				<table class="timetable_sub" id="cartTable">
					<thead >
						<tr>
							<th>Sl No</th>
							<th>Product Name</th>
							<th>Image</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Total</th>
							<th>Remove</th>
						</tr>
					</thead>
						<tbody>
							<% for(var i=0; i<products.length; i++) { %>
								<tr>
								 
									<td style="border: 1px solid #000000;"> <%= i+1 %> </td>
									<td style="border: 1px solid #000000;"> <%= products[i].products.productName %> </td>
									<td style="border: 1px solid #000000;"> <img src="/images/<%= products[i].products.Image %>" style="width:75px ; height:50px;" alt=""></td>
									<td style="border: 1px solid #000000;"> <%= products[i].products.Price %>  </td>
							
									<td style="border: 1px solid #000000;">
									<button class="cart-item-count mr-3 btn btn-secondary" onclick="changeQuantity('<%= products[i]._id%>','<%= products[i].products._id %>',-1,'<%= userData._id %>',)" >-</button> 
								   <span id="<%= products[i].products._id %>"><%= products[i].quantity %></span> 
									<input disabled type="text" value="<%= products[i].quantity %>" style="width: 1%; flex: 1 1 auto; background: #f5f5f5; border: 0; padding: 0 5px;" id="<%= products[i].quantity %>">
								   <button type="submit" class="cart-item-count ml-3 btn btn-secondary" onclick="changeQuantity('<%= products[i]._id%>','<%= products[i].products._id %>',1,'<%= userData._id %>')" >+</button></td>
								   <td style="border: 1px solid #000000;">subtotal>
								   <td style="border: 1px solid #000000;"> <a href="/deleteProduct?id=<%= products[i]._id %>" class="btn btn-danger">Delete</a>  </td>
								
								</tr>
								<% } %>


								<div>

								</div>
						</tbody>
						
						
					
				</table>
				<br>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
					<div style="border: 1px solid #000000; padding: 10px;
					padding-top: 9px;
					border: 1px solid #000000;
					border-radius: 8px;">Total:RS. <span id="totalAmount" class="totalAmount"><%= totalAmount %></span></div><a href="/placeOrder" class="btn btn-success btn-md active" role="button" aria-pressed="true">Place Order</a>
					</div> 
			</div>
		</div>
		
		<div style="height:300px">

		</div>
		<script>
			$(document).ready( function () {
			  $('#cartTable').DataTable();
		  } );
		  </script>
			
		  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<!-- footer -->
<script>
function changeQuantity(cartId,proId,count,userData){
	
	let quantity = parseInt(document.getElementById(proId).innerHTML)
	count = parseInt(count)
	$.ajax({
	
		url:'/change-product-quantity',
		data:{
			USER:userData,
			cart:cartId,
			product:proId,
			count:count,
			quantity:quantity
		},
		method:'post',
		success:(response)=>{
			if(response.removeProduct){
				alert("Product Removed from cart")
				location.reload()
			}else{
				console.log("response check",response);
				document.getElementById(proId).innerHTML=quantity+count
				document.getElementById("totalAmount").innerHTML = response.result //routil ninn pass cheythath ivide successinte ullil
				//pass cheytha response.resdult enn vilikkanam.. bcz avdnn ividekk pass cheythath result aaanu.
				
			}
			
		}
	})
}
//fetch
function removeProduct(cartId,productId){
	fetch('/removeCartProduct',
	{
		method:'delete',
		headers:{'content-type':'application/json'},
		body:JSON.stringify({
			cart:cartId,
			product:productId
		})
	}).then((response)=>{
		window.location.reload()
	})
}

</script>