<body style="    overflow-x: hidden;">



	 <div class="privacy bg-light">
		<div class="container-fluid py-xl-4 py-lg-2">
			
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>C</span>art
			</h3>
			<!-- //tittle heading -->






			<!-- ----------------------------------------------------------Table for cart details------------------------------------------------------->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm ml-5 mb-5">
			<div class="table-responsive ml-5" style="margin-left:15rem  ;     width: 56rem;    ">
				<table class="timetable_sub" id="cartTable" style="    margin-left: 1rem;
				width: 55rem;">
					<thead>
						<tr>
							<th>Sl No</th>
							<th>Product Name</th>
							<th>Image</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Total</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						<% if(products.length>0) { %>
							<% for(var i=0; i<products.length; i++) { %>

								<tr>

									<td style="border: 1px solid #000000;">
										<%= i+1 %>
									</td>
									<td style="border: 1px solid #000000;">
										<%= products[i].products.productName %>
									</td>
									<td style="border: 1px solid #000000;"> <img
											src="/images/<%= products[i].products.Pitcure %>"
											style="width:50px ; height:50px;" alt=""></td>
									<td style="border: 1px solid #000000;">
										<%= products[i].products.Price %>
									</td>

									<td style="border: 1px solid #000000;">
										<button class="cart-item-count mr-3 btn btn-secondary"
											onclick="changeQuantity('<%= products[i]._id%>','<%= products[i].products._id %>',-1,'<%= userData._id %>',)">-</button>
										<span id="<%= products[i].products._id %>">
											<%= products[i].quantity %>
										</span>
										<input disabled type="text" value="<%= products[i].quantity %>"
											style="width: 1%; flex: 1 1 auto; background: #f5f5f5; border: 0; padding: 0 5px;"
											id="<%= products[i].quantity %>">
										<button type="submit" class="cart-item-count ml-3 btn btn-secondary"
											onclick="changeQuantity('<%= products[i]._id%>','<%= products[i].products._id %>',1,'<%= userData._id %>')">+</button>
									</td>
									<td style="border: 1px solid #000000;"><span id="subTotal" class="subTotal"></span>
									</td>
									<td style="border: 1px solid #000000;"> <a
											href='/users/deleteCartProduct?item=<%= products[i].item %>'
											class="btn btn-danger">Delete</a> </td>

								</tr>

								<% } %>
									<% } else { %>
										<h2>Cart is empty</h2>
										<% } %>


											<div>

											</div>
					</tbody>



				</table>
			</div>
		</div>

		<div class="col-sm">
			<div class="card border mr-5 mt-4 mb-5 " style="     margin-left: -6rem;   width: 25rem;">
				
				<div class="input-group">
					<input type="text" class="form-control p-4" id="coupenCode"  name="couponCode" placeholder="Coupon Code" name="couponCode">
					<span id="couponMessage"></span>
					<div class="input-group-append">
						<button class="btn btn-primary" onclick="applyCoupon()">Apply Coupon</button>
					</div>
					<div class="mt-2">





					
					</div>
				</div>
				<div class="mt-2">
					<!-- Button trigger modal -->
				<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> -->
				<a href="" class="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">View Coupons</a>	
				  <!-- </button> -->
				  
				  <!-- Modal -->
				  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog">
					  <div class="modal-content border">
						<div class="modal-header">
						  <h5 class="modal-title" id="staticBackdropLabel">Offer Coupon</h5>
						  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<% for (var i=0;i<coupen.length;i++) {%>
								<br>
						<h5 class="fw-bold text-dark"> <%= coupen[i].coupenName %> --- Coupon Code :<span class="text-danger"> <%= coupen[i].coupenCode %></span></h5><h6 class="text-danger mt-2"><span></span></h6>
							
							<% } %>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						 
						</div>
					  </div>
					</div>
				  </div>
				
				</div> 	
			
			<div class="card-header bg-secondary border-0 mt-2">
				<h4 class="font-weight-semi-bold  text-center text-light m-0">Cart Summary</h4>
			</div>
			<div class="card-body">
				<div class="d-flex justify-content-between mb-3 pt-1">
					<h6 class="font-weight-medium">Subtotal</h6>
					<h6 id="subTotal" class="totalAmount"><%= totalAmount %>
					</h6>
				</div>
				<div class="d-flex justify-content-between mb-3 pt-1">
					<h6 class="font-weight-medium">Discount % </h6>
					<h6 id="discount" class="totalAmount">0
					</h6>
				</div>
				<div class="d-flex justify-content-between">
					<h6 class="font-weight-medium">Shipping</h6>
					<h6 class="font-weight-medium">5%
					</h6>
				</div>
			</div>
			<div class="card-footer border-secondary bg-transparent">
				<div class="d-flex justify-content-between mt-2">
					<h5 class="font-weight-bold mt-4">Total</h5>
					<h5 id="final_total" class="totalAmount">
						RS:<% var finalTotal = totalAmount+(5/100)*(totalAmount) %>
						
						<%= finalTotal %>
					</h5>
				</div>
				<button class="btn btn-primary mt-3" onclick="proceedToCheckOut('<%= totalAmount %>')">Proceed To CheckOut</button>
			</div>
		</div>
		</div>
	</div>
</div>



</div>
</div>






				
			
		<script>
			$(document).ready(function () {
				$('#cartTable').DataTable();
			});
		</script>

		<script type="text/javascript" charset="utf8"
			src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
		<!-- footer -->






		<script>
			var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})	
			function applyCoupon () {
				let coupenCode = document.getElementById("coupenCode").value.toUpperCase()
				let message = document.getElementById("couponMessage")
				let discountDisplay = document.getElementById("discount")
				let finalTotal = document.getElementById("final_total")
				fetch('/cart/applyCoupen',{
					method:"post",
					headers:{'Content-Type':'application/json'},
					body:JSON.stringify({coupenCode})
				}).then(res => res.json()).then(data => {
					
					if(data.coupenStatus == true){
						message.innerHTML = "";
						discountDisplay.innerHTML = data.discount
						finalTotal.innerHTML = data.discountedTotal
					}else{
						alert("coupen not acceptable")
						discountDisplay.innerHTML = 0
						finalTotal.innerHTML = TotalAmount
					}
				})


			}

			function proceedToCheckOut(totalAmount){
				let coupenCode = ""
				coupenCode = document.getElementById('coupenCode').value.toUpperCase()
				fetch('/cart/proceedTocheckOut',{
					method:'post',
					headers:{'content-type':'application/json'},
					body:JSON.stringify({coupenCode,totalAmount})
				}).then(res => res.json()).then((data)=>{
					window.alert(data)
					location.href = '/addressPayment?finalTotal='+data
				})

			}
			function changeQuantity(cartId, proId, count, userData) {

				let quantity = parseInt(document.getElementById(proId).innerHTML)
				count = parseInt(count)
				$.ajax({

					url: '/change-product-quantity',
					data: {
						USER: userData,
						cart: cartId,
						product: proId,
						count: count,
						quantity: quantity
					},
					method: 'post',
					success: (response) => {
						if (response.response.removeProduct) {
							console.log("response" + response.response.removeProduct);
							alert("Product Removed from cart")

							location.reload()
						} else {
							console.log("response check", response);
							document.getElementById(proId).innerHTML = quantity + count
							document.getElementById("totalAmount").innerHTML = response.result
							console.log("this is totala mount :", response.result);
							//routil ninn pass cheythath ivide successinte ullil
							//pass cheytha response.resdult enn vilikkanam.. bcz avdnn ividekk pass cheythath result aaanu.
							console.log("response.result", response.sub);
							document.getElementById('subTotal').innerHTML = response.sub

						}

					}
				})
			}
			//fetch
			function removeProduct(cartId, productId) {
				swal({
					title:"DELETE!",
					text:"Do you want to delete product?",
					icon:"warning",
					buttons:["Cancel","Ok"]
				}).then(val =>{
					if(val){
						fetch('/removeCartProduct',
					{
						method: 'delete',
						headers: { 'content-type': 'application/json' },
						body: JSON.stringify({
							cart: cartId,
							product: productId
						})
					}).then((response) => {
						window.location.reload()
					})
					}
				})
				
			}





			
			// function applyCoupon(total){
			// 	let couponCode = document.getElementById('coupenCode').value.toUpperCase()
			// 	let message = document.getElementById('coupenMessage')
			// 	let discountDisplay = doucment.getElementById('discountId')
			// 	let finalTotal = document.getElementById('final_total')
			// 	fetch('/cart/applyCoupen',{
			// 		method:"post",
			// 		headers:{'content-type':'application/json'},
			// 		body:JSON.stringify(
			// 			{couponCode}
			// 		)
			// 	}).then(res => res.json()).then(data){
			// 		if(data.coupenStatus == true){
			// 			message.innerHTML = ""
			// 			discountDisplay.innerHTML = data.discount
			// 			finalTotal.innerHTML=data.discountTotal
			// 		}else{
			// 			message.innerHTML = 'COUPEN NOT ACCEEPTALN'
			// 			discountDisplay.innerHTML = data.discount
			// 			finalTotal.innerHTML = data.discountTotal
			// 		}
		
			// 	}
			// }


		</script>

</body>