<body class="bg-light">
    <div class="container">
	<div class="row">	
		
        <br><br><br><br>
				<% for (var i= 0 ; i<products.length ;  i++) { %>
		<div class="card mt-5" style="width: 18rem; border: 1px ;border:1px solid black; border-radius: 2rem; padding: 1rem; margin-right: 3rem;    margin-bottom: 3rem;";>
			
			
			<div   class=" d-md-flex justify-content-md-end"></div>
			<img src="<%= products[i].file_url %>" class="card-img-top" style="width:15rem ; height:15rem;" alt="...">
			<a href="/users/singlePage?id=<%= products[i]._id %>">	<div class="card-body">
			  <h5 class="card-title text-center"><%= products[i].productName %>
			  <p class="card-text text-danger fs-4 fw-bold">RS:<%= products[i].Price %> </p>
			  </a>
			  <button onclick="addToCart('<%= products[i]._id %>')"    class="btn btn-primary">Add to cart</button><span><i class=" btn btn-danger fa-solid fa-heart ml-2" onclick="addToWishlist('<%= products[i]._id %>')"></i></span>
			</div>
			
		  </div>
		  <% } %>
		

	
	</div>
</div>
</body>
