






 
<body class="bg-light "style="    overflow-x: hidden;">
  



<div class="container " >
  <div class="row mt-4">
    
    <div class="text-center mt-4 "><h3 class="fw-bold">Order Details</h3></div>
    <div class="table-responsive">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end m-5">
       
        </div>
       
        <table class="table table-bordered" style="border: 1px solid black; margin-top: 15px;" id="orderTable">

          <thead class="bg-secondary">
           
            <tr>
              
              <th class="text-light">Date</th>
              <th class="text-light">Address</th>
              <th class="text-light">Amount</th>
              <th class="text-light">Payment Method</th>
              <th class="text-light">Expected Delivery</th>
              <th class="text-light">Status</th>
              <th class="text-light">View</th>
            </tr>
          </thead >
          <tbody >
            
              <% for(var i=productList.length-1 ; i>=0;i--) { %>
            <tr>
              
              <td> <%=productList[i].deliveryDetails.date %> </td>
              <td> <%= productList[i].deliveryDetails.address %> </td>
              
              <td> <%= productList[i].deliveryDetails.TotalAmount[0].total %></td>
              <td><%= productList[i].deliveryDetails.paymentMethod %></td>
              <td> <%= productList[i].deliveryDetails.expected_Date %></td>
              <td><%= productList[i].status %> </td>
              <td>
                <a href="/view-order-products?id=<%=productList[i]._id %>" class="btn btn-primary"> View products </a>
              </td>
             </tr>
            <% } %>
          
          </tbody>
        </table>
      </div>
  </div>
</div>
<br><br><br><br>
<br><br><br><br>
  

<script>
  $(document).ready( function () {
    $('#orderTable').DataTable();
} );


</script>
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
</body>