<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Electro Store Ecommerce Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
		integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
		crossorigin="anonymous"></script>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link href="/css/../public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="/css/../public/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Main css -->
	<link rel="stylesheet" href="../../public/css/fontAwesome.css">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="../../public/css/popuo.css" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="../../public/css/menu.css" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link
		href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
		rel="stylesheet">
	<link
		href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
		rel="stylesheet">
	<!-- //web fonts -->

</head>


<body class="bg-light " style="    overflow-x: hidden ;">













	<!-------------------------------------------------- banner --------------------------------------------------->

	<div class="container-fluid ">

		<div class="col-md-12">
			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
				<div class="carousel-inner">
					<% for(var i=0; i<banners.length;i++) { %>
						<div class="carousel-item active bg-light">
							<div class="bg-light" style="        margin-left: -108px;
			width: 100%;;
		"><img src="/images/<%= banners[i].bannerImage %>" style="width: 500%; filter: brightness(40%);    height: 550px;
			margin-left: 7rem;
			margin-top: 0rem;" class="d-block w-100 " alt="..."></div>
						</div>
						<% } %>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>

					<div class="text-block">

						<h1 style="    color: palevioletred;
			font-weight: bold;">Cric Store</h1><br>
						<h1 style="    color: cornflowerblue;
			font-weight: bold;">Mega Sale Offer</h1><br>
						<h1>Order Now</h1><br>
					</div>
				</button>
			</div>
			<!-- ----------------------------------------------banner ---------------------------------------------------------->
		</div>
	</div>
	<style>
		.container-fluid {
			position: relative;
			font-family: Arial;
		}

		.text-block {
			margin-left: -76rem;
			margin-top: 25rem;
			position: relative;
			bottom: 14rem;
			right: 24px;
			background-color: black;
			color: white;
			padding-left: 10rem;
			padding-right: 10rem;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		.element.style {
			margin-left: -81rem;
			margin-top: 25rem;
		}
	</style>



	<!-- -------------------------------------------------banner text------------------------------------------------------- -->




























	<!-- ---------------------------------------------Category--------------------------------------------------- -->

	<div class="container-fluid pt-5 bg-light">
		<h3 class="text-center text-danger fs-2 ">Categories</h3>
		<br>
		<div class="row px-xl-5 pb-3">

			<% for(var i=0;i<CategoryDetails.length;i++) { %>

				<div class="col-lg-4 col-md-6 pb-1 ">
					<div class="cat-item d-flex flex-column border  mb-4 bg-light" style="padding: 30px;">

						</p>
						<a href="" class="cat-img position-relative overflow-hidden mb-3 ">
							<% for(var j=0 ;j<products.length;j++ ) { %>
								<% if(products[j]._category) { %>
									<img class="img-fluid" src="/images/<%= products[i].Pitcure %>" style="        width: 9rem;
						height: 12rem;
						margin-left: 3rem;" alt="">
									<% } %>
										<% } %>
						</a>
						<a href="/categoryBasedPage/?catName=<%= CategoryDetails[i]._category %>">
							<h5 class="font-weight-semi-bold m-0 text-center pb-2	">
								<%= CategoryDetails[i]._category %>
							</h5>
						</a>
					</div>
				</div>
				<% } %>


		</div>
	</div>
	<!-- ---------------------------------------------Category--------------------------------------------------- -->





	<!------------------------------------------------- top Products ---------------------------------------------------->

	<div class="container py-xl-4 py-lg-2">

		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			<span>O</span>ur
			<span>N</span>ew
			<span>P</span>roducts
		</h3>
		<!-- //tittle heading -->









		<div class="item-info-product text-center border-top mt-4">


			<!-- ---------------------------------------------------------------------------------- -->

			<div class="container">
				<div class="row">

					<% for (var i=0 ; i<products.length ; i++) { %>
						<div class="card"
							style="width: 18rem; border: 1px ;border:1px solid black; border-radius: 2rem; padding: 1rem; margin-right: 3rem;    margin-bottom: 3rem;"
							;>


							<div class=" d-md-flex justify-content-md-end"></div>
							<img src="/images/<%= products[i].Pitcure %>" class="card-img-top"
								style="width:13rem ; height:13rem;" alt="...">
							<a href="/users/singlePage?id=<%= products[i]._id %>">
								<div class="card-body">
									<h5 class="card-title">
										<%= products[i].productName %>
											<p class="card-text text-danger fs-4 fw-bold">RS:<%= products[i].Price %>
											</p>
							</a>
							<button onclick="addToCart('<%= products[i]._id %>')" class="btn btn-primary">Add to
								cart</button><span><i class=" btn btn-danger fa-solid fa-heart ml-2 "
									onclick="addToWishlist('<%= products[i]._id %>')"></i></span>
						</div>

				</div>
				<% } %>



			</div>
		</div>





		<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
			<form action="#" method="post">

			</form>
		</div>
	</div>
	</div>
	</div>














	</div>
	</div>


	<!-- middle section -->
	<div class="join-w3l1 py-sm-5 py-4 ">
		<div class="container py-xl-4 py-lg-2">
			<div class="row">
				<div class="col-lg-6">
					<div class="join-agile text-left p-4 bg-dark ">
						<div class="row">
							<div class="col-sm-7 offer-name">
								<h6>Adidas Spikes </h6>
								<h4 class="mt-2 mb-3">Adidas Spikes</h4>
								<p>Sale up to 25% off all in store</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSD2hagM2cYohDh0xNAqThvw-J5y1VlpHaqA&usqp=CAU"
									alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="join-agile text-left p-4 bg-dark">
						<div class="row">
							<div class="col-sm-7 offer-name">
								<h6>Puma Spikes </h6>
								<h4 class="mt-2 mb-3">Puma Spikes</h4>
								<p>Sale up to 25% off all in store</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="https://www.allroundercricket.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/1/0/10550910-5-min.png"
									alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr style="color:black ;">
	<!-- middle section -->

	<!-- footer -->
	<footer>
		<div class="footer-top-first">
			<div class="container py-md-5 py-sm-4 py-3">
				<!-- footer first section -->
				<h2 class="footer-top-head-w3l font-weight-bold mb-2">Cric Store:</h2>
				<p class="footer-main mb-4">
					E-commerce is revolutionizing the way we all shop in India. Why do you want
					to hop from one store to another in search of the latest product when you can find
					it on the Internet in a single click? . Cric Store houses everything
					you can possibly imagine, from trending products like premium edition bats, gloves, helmets,
					and shoes, clothing and lifestyle
					accessories; we got them all covered. You name it, and you can
					stay assured about finding them all here. For those of you with erratic working hours, Cric Store is
					your best bet. Shop in your PJs, at night or in the wee hours of the morning. This e-commerce never
					shuts down.
					<!-- //footer first section -->
					<!-- footer second section -->
				<div class="row w3l-grids-footer border-top border-bottom py-sm-4 py-3">
					<div class="col-md-4 offer-footer">
						<div class="row">
							<div class="col-4 icon-fot">
								<i class="fas fa-dolly"></i>
							</div>
							<div class="col-8 text-form-footer">
								<h3>Free Shipping</h3>
								<p>on orders over $100</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 offer-footer my-md-0 my-4">
						<div class="row">
							<div class="col-4 icon-fot">
								<i class="fas fa-shipping-fast"></i>
							</div>
							<div class="col-8 text-form-footer">
								<h3>Fast Delivery</h3>
								<p>World Wide</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 offer-footer">
						<div class="row">
							<div class="col-4 icon-fot">
								<i class="far fa-thumbs-up"></i>
							</div>
							<div class="col-8 text-form-footer">
								<h3>Big Choice</h3>
								<p>of Products</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //footer second section -->
			</div>
		</div>
		<!-- footer third section -->




		<!-- 
// function for add to cart ajax -->


		<script>
			function addToCart(proId) {
				$.ajax({
					url: '/add-to-cart/' + proId,
					method: 'get',
					success: (response) => {
						if (response.status) {
							let count = $('#cart-count').html()
							count = parseInt(count) + 1
							$("#cart-count").html(count)
						}

					}
				})
			}


			function addToWishlist(proId) {
				$.ajax({
					url: '/add-to-wishlist/' + proId,
					method: 'get',
					success: (response) => {
						if (response.stauts) {
							let count = $('#wishlist-count').html()
							count = parseInt(count) + 1
							$('#wishlist-count').html(count)
						}
					}

				})
			}
		</script>



</body>

</html>